<suite name="parallel">
            <test name="Device-1">
             <parameter name="deviceName" value="Pixel 2" />
             <parameter name="udid" value="emulator-5554" />
             <parameter name="platformVersion" value="12" />
             <parameter name="url" value="http://127.0.0.1:4723/wd/hub" />

                        <classes>
                                    <class name="testScripts.TestScript1"/>   
                        </classes>
            </test>
</suite>